<h2>Recently Added</h2>
<div class="img-container">
  <% books.forEach(book => { %>
    <div class="single-image">
      <h3><%= book.title %> </h3>
      <img height="150" width="100" src="<%= book.coverImagePath %>">
    </div>
  <% }) %>
</div>
<div class="footer"></div>