<h2>Search Authors</h2>
<div class="search-authors">
  <form class="form-search-authors" action="/authors" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %> ">
    <button type="submit">Search</button>
  </form>
  <div class="authors-list">
    <h3>List of authors</h3>
    <% let a = 1 %> 
    <% authors.forEach(author => { %> 
      <div><%= author.name %> </div>
    <% }) %> 
  </div>
</div>